<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygame2048"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <!-- 手柄兼容文件在线更新 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 手柄兼容文件缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- debug -->
        <meta-data
            android:name="KO_APP_KEY"
            android:value="dE0oRhauOX75w0bEXvb29htNM6QQ6IjT91OO3uiK4/u0wQLSjgSPinukRGh5iBaOoSN+xP0FDng=" >
        </meta-data>
<!--         release
        <meta-data
            android:name="KO_APP_KEY"
            android:value="jtNWyFfbDpFj2MuV/qYTkcpi2odGQizrNmB+kUmTeQVVW03zgEAWfQBhZe84RgTNllqxg1725nQ=" >
        </meta-data> -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.vszone.gamepad.android.PadKeyMappingActivity"
            android:theme="@style/KO_AppTheme" />
        <activity
            android:name="cn.vszone.gamepad.android.MyGamePadActivity"
            android:theme="@style/KO_AppTheme" />
        <activity
            android:name="cn.vszone.gamepad.android.GamePadSupportedListActivity"
            android:theme="@style/KO_AppTheme" />
        <activity
            android:name="cn.vszone.gamepad.android.GamePadActiveActivity"
            android:theme="@style/TranslucentFullscreen" />
    </application>

</manifest>